img {
    padding: 5px;
  }
  
  .g_container {
    display: grid;
    grid-template-columns: repeat(7, 14%);
    grid-template-rows: auto;
    margin-left: 5%;
    justify-self: center;
    row-gap: 5%;
  }
  
  img:hover {
    cursor: pointer;
    scale: 1.2;
  }

  img:active {
    opacity: 0.8;
  }

  .teamName {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-top: 3%;
    font-weight: 500;
  }

